*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

input {
  border: none;
  font-family: inherit;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  align-items: end;
  column-gap: 30px;
  height: 534px;
  margin: auto;
}

.result {
  grid-area: result;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  height: 54px;
}

.search-form__fieldset {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  border: 1px solid white;
  border-right: none;
  border-left: none;
  padding: 2.5px 0;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield {
  width: 225px;
}

/* Убрать фокус у текстфилда при клике, оставить при табе */

.search-form__textfield::placeholder {
  color: rgba(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__label:has(.search-form__checkbox) {
  display: flex;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  z-index: -1; /* не дает чекбоксам отображаться поверх прелоадера */
  place-self: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: white;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.search-form__label:not(:has(.search-form__textfield)):hover {
  cursor: pointer;
} /* заменить на что-то более универсальное */

.content__details {
  grid-area: details;
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84 80 80);
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  width: 196px;
  margin-bottom: 6px;
  overflow: hidden;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  overflow: hidden;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  line-clamp: 4;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.button {
  border: 1px solid white;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:active {
  text-decoration: none; /* в макете у активной кнопки нет подчеркивания текста */
  background-color: rgb(84 80 80);
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  place-self: end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
}
