*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute; 
  width: 1px; 
  height: 1px;
  margin: -1px; 
  padding: 0; 
  border: 0; 
  clip: rect(0 0 0 0); 
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  align-items: end;
  column-gap: 30px;
  height: 534px;
  margin: auto;
}

.result {
  grid-area: result;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result__video-container {
  height: 386px;
  width: 100%;
  margin-bottom: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 54px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px; /* Или 7.5px, пока не допер */
}

.search-form__textfield {
  background-color: transparent;
  border-color: transparent;
  outline-color: transparent;
}

.search-form__textfield::placeholder {
  color: rgba(255 255 255 / 0.7);
  font-family: inherit;
}

.content__details {
  grid-area: details;
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84 80 80);
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 196px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 194px;
  height: 103px;
}